<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Formulário</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.1/dist/css/bootstrap.min.css" rel="stylesheet"
          integrity="sha384-F3w7mX95PdgyTmZZMECAngseQB83DfGTowi0iMjiWaeVhAn4FJkqJByhZMI3AhiU" crossorigin="anonymous">
</head>
<body>
<nav style="background-color: purple; color:#ffffff"><span class="navbar-brand mb-0 h3"><br><center>DEVAS</center></span>
</nav>

<div class="col-8 m-auto pt-2 pb-2 text-center">
    <h1>Cadastro de Produtos</h1>
</div>

<div class="col-8 m-auto pt-3 pb-2 text-center">
    <a href="/home" class="btn btn-info">Voltar</a>
</div>

<div class="col-8 m-auto pt-4 pb-2 text-center style=" border-color:3px; solid purple
">
<div id="result"></div>

{# {{ form.as_p }} #}
<form name="form" id="form" action="{% if db %}/produto/update/{{db.id}}/{%else%}/produto/create/{% endif %}"
      method="post">
    {% csrf_token %} <!--Django Protegendo o form-->
    <CENTER>
        <div class="form-control shadow"
             style="background-color:#FFFFFF;color:black;border:2px solid #a507be;width:700px;height:700px;font-size:18px;">
            <br>
            Produto:
            <div class="form-control">{{form1.nome}}</div>
            <br>
            <!-- <input class="form-control" style="border:1px solid #a507be" name="nome" placeholder="Nome"/><br> -->
            Descrição:
            <div class="form-control">{{form1.descricao}}</div>
            <br>
            QTD:
            <div class="form-control">{{form1.quantidade}}</div>
            <br>
            valor:
            <div class="form-control">{{form1.valor}}</div>
            <!-- <input class="form-control" style="border:1px solid #a507be"  name="ramo" placeholder="Ramo""/><br> -->
            <br>

           <div class="form-group">
                <label for="empresa">Empresa:</label>
                <select class="form-control" name="empresa">
               {% for empresa in empresas %}
                    <option value="{{empresa.id}}">{{empresa.nome}}</option>
                {% endfor %}
                </select>
            </div>




            <button style="background-color:#a507be" class="btn btn-dark" type='submit'>Salvar</button>
            <br>
        </div>
    </CENTER>
</form>
</div>

{% load static %}
<!--    <script src="{% static 'javascript.js' %}"></script>  <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous"> -->
<script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.9.2/dist/umd/popper.min.js"
        integrity="sha384-IQsoLXl5PILFhosVNubq5LC7Qb9DXgDA9i+tQ8Zj3iwWAwPtgFTxbJ8NT4GN1R8p"
        crossorigin="anonymous"></script>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.min.js"
        integrity="sha384-cVKIPhGWiC2Al4u+LWgxfKTRIcfu0JTxR+EQDz/bgldoEyl4H0zUF0QKbrJ0EcQF"
        crossorigin="anonymous"></script>
</div>
</body>
</html>







